<div class="item image_style">
<%= image_tag(image_path('carusel3.jpg'), alt: 'First slide', class: 'image_style') %>
<!--  <div class="container">
    <div class="carousel-caption">
      <h1>Another example headline.</h1>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
    </div>
  </div>-->
</div>
<div class="container">

<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa41Ip7lWOnIgnMlUPvAPDeh964Af9bhg&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>


<!-- /END THE FEATURETTES -->
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">"Петровский фарватер" <span class="text-muted"></span></h2>
    <p class="lead">191036, Санкт-Петербург, Шпалерная ул., д.54 <br>
    тел.:8(812)309-32-09 <br>
    e-mail:<a href="mailto:mail@petrfarv.ru?subject=feedback">mail@petrfarv.ru</a></p>
</p>
  </div>
  <div class="col-md-5">
    <%= image_tag(image_path('contacts.jpg'), alt: 'pf', class: 'featurette-image img-responsive center-block') %>
  </div>
</div>
</div>
