
<div class="item image_style">
<%= image_tag(image_path('carusel3.jpg'), alt: 'First slide', class: 'image_style') %>
</div>
<div class="container">
  <%= image_tag(image_path('out.jpg'), alt: 'First slide', class: 'image_style center-block') %>

  <!--
  <h2>Текущие вакансии </h2>
    <% @vocations.each do |t| %>
    <h3><%= t.title  %></h3>
    <p><%= t.text  %></p>
    <%= link_to 'Подробнее', vocation_path(t), class: 'btn btn-default', role: 'button' %><br>
    <% end %>
  -->
  </div>
