    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide visible-lg" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item">
  <%= image_tag(image_path('carusel2.jpg'), alt: 'First slide', class: 'first-slide') %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Энергетика</h1>
              <p>Объекты энергетического комплекса (ПС 220, 110 кВ, КЛ, ВЛ, ГТС, ДГУ)</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Подробнее</a></p>
            </div>
          </div>
        </div>
        <div class="item">
<%= image_tag(image_path('carusel3.jpg'), alt: 'First slide', class: 'second-slide') %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Промышленность</h1>
              <p>Нефтеперерабатывающая, нефтегазодобывающая и нефтехимическая промышленности;
Химическая, гидролизная, микробиологическая, лесоперерабатывающая и целлюлозно-бумажная промышленности: предприятия по производству пенополистирола, ксилита, фурфурола, химического синтеза, кормовых дрожжей, бумаги и т.п.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Подробнее</a></p>
            </div>
          </div>
        </div>
        <div class="item active">
      <%= image_tag(image_path('carusel1.jpg'), alt: 'First slide', class: 'third-slide') %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Метрополитены</h1>
              <p>Объекты и сооружения инфраструктуры метрополитена.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Подробнее</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">


      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">"Петровский фарватер" <span class="text-muted"></span></h2>
          <p class="lead">выполняет полный комплекс: инжиниринговых, проектно-изыскательских, научно-исследовательских и
опытно-конструкторских работ, строительно-монтажных и пусконаладочных работ, начиная от замысла Заказчика и разработки
предпроектных предложений, материалов Обоснования инвестиций, организации и проведения тендеров на ПИР, поставку
оборудования, разработки проектной и рабочей документации до авторского надзора, строительно-монтажных и пусконаладочных работ
и ввода объекта в эксплуатацию.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag(image_path('pf.jpg'), alt: 'pf', class: 'featurette-image img-responsive center-block') %>
        </div>
      </div>
      <h2 class="center-text">Виды деятельности</h2>
      <!-- Three columns of text below the carousel -->

      <div class="row space">
        <div class="col-sm-4">
          <div class="grid">
          <figure class="effect-roxy">
          <%= image_tag(image_path('iz.jpg'), alt: 'pf', class: 'img-responsive center-block filter') %>
          <figcaption>
          <h2 class="center-text">Инженерные изыскания</h3>
          <p>Компанией выполняются комплексные инженерные изыскания любой сложности, а также по отдельным видам работ.
          Виды работ, включая особо опасные, технически сложные и уникальные объекты.</p>
    <!--      <a class="btn btn-default" href="/geo" role="button"></a>-->
          </figcaption>
          </figure>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
          <div class="grid">
          <figure class="effect-roxy">
          <%= image_tag(image_path('p.jpg'), alt: 'pf', class: 'img-responsive center-block filter') %>
          <figcaption>
          <h2 class="center-text">Проектирование</h3>
          <p>Разработка проектной и рабочей документации для объектов и сооружений производственного и административно-бытового
          назначения, а так же их инфраструктуры в полном объеме и отдельно по каждой специальности в зависимости от Вашего требования.</p>
    <!--        <a class="btn btn-default" href="/projects" role="button"></a>-->
          </figcaption>
          </figure>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
          <div class="grid">
          <figure class="effect-roxy">
          <%= image_tag(image_path('b.jpg'), alt: 'pf', class: 'img-responsive center-block filter') %>
          <figcaption>
          <h2 class="center-text">Строительство</h2>
          <p>Функции заказчика-застройщика, технического заказчика, строительный контроль.
            Строительно-монтажные и пусконаладочные работы, включая особо опасные, технически сложные и уникальные объекты.</p>
  <!--           <a class="btn btn-default" href="/building" role="button"></a>-->
          </figcaption>
          </figure>
          </div>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->



      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Петровский фарватер.<span class="text-muted">Опыт.</span></h2>
          <p class="lead"><br>Персонал «Петровского фарватера» способен выполнить полный комплекс работ, по объектам различного профиля: от особо опасных,
          технически сложных и уникальных до гражданского, административно-бытового и вспомогательного назначения.
          <br>Имеем опыт совместной работы с зарубежными проектными компаниями, а также опыт работы по адаптации проектной и рабочей
          документации, выполненной зарубежными компаниями, к нормативной базе Российской Федерации. <br>
          Для ознакомления с опытом и возможностями компании предлагаем скачать презентацию.
         </p>
          <a class="btn btn-lg btn-primary center-block" href="http://owncloud.petrfarv.ru/owncloud/index.php/s/PMuPmxtzSWSQcWA/download" role="button">Скачать презентацию</a>

        </div>

        <div class="col-md-5 col-md-pull-7">
          <%= image_tag(image_path('team.jpg'), alt: 'pf', class: 'img-responsive center-block filter') %>
        </div>
      </div>

      <hr class="featurette-divider">
<!--  <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Петровский фарватер.<span class="text-muted">Надежность. </span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag(image_path('traktor.jpg'), alt: 'pf', class: 'img-responsive center-block filter') %>
        </div>
      </div> -->


      </div>
      <!--
      <div class="container">
      <hr class="featurette-divider">
      <div class="row featurette">
        <h2 class="featurette-heading">СРО</h2>
      </div>
    </div>
    -->
      <!-- /END THE FEATURETTES -->

      <!-- /СРО  -->

<div class="container">


      <% @sros.each_slice(3) do |row| %>
        <div class="row">
          <% row.each do |sro| %>
            <div class="col-sm-4 col-lg-4">
              <div class="model-house">
                <%= image_tag sro.photo.url(:small), alt: 'nordplan', class: 'center-block img-responsive' %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
</div>
      <!-- /Текущие объекты-->

<!--
      <div class="row featurette">
        <h2 class="featurette-heading">Некоторые текущие объекты</h2>
      </div>


      <% @projects.each_slice(3) do |row| %>
        <div class="row">
          <% row.each do |project| %>
            <div class="col-sm-4 col-lg-4">
              <div class="model-house">
                <%= image_tag project.photo.url(:small), alt: 'nordplan', class: 'img-responsive' %>
                <h3 class="center model-head"><%= project.title %>  </h3>
                <%= link_to 'Подробнее', project_path(project), class: 'btn btn-primary', role: 'button' %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      </div>
-->



<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text></svg></body>
