<div class="item image_style">
<%= image_tag(image_path('proekt.jpg'), alt: 'First slide', class: 'image_style') %>
</div>
<div class="container">

<!-- /END THE FEATURETTES -->
<% @projects.each_slice(1) do |row| %>
  <div class="row">
    <% row.each do |project| %>
      <div class="col-sm-4 col-lg-4">
        <div class="model-house">
          <%= image_tag project.photo.url(:small), alt: 'nordplan', class: 'img-responsive' %>
        </div>
      </div>
      <div class="col-sm-8 col-lg-8">
        <div class="model-house">
          <h3 class="center model-head"><%= project.title %>  </h3>
          <%= link_to 'Подробнее', project_path(project), class: 'btn btn-primary', role: 'button' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>
