<div class="item image_style">
<%= image_tag(image_path('carusel3.jpg'), alt: 'First slide', class: 'image_style') %>
<!--  <div class="container">
    <div class="carousel-caption">
      <h1>Another example headline.</h1>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
    </div>
  </div>-->
  <%= image_tag(image_path('out.jpg'), alt: 'First slide', class: 'image_style center-block') %>

<!--  <h1>Субподрядные</h1>
    <% @works.each_slice(3) do |row| %>
      <div class="row">
        <% @works.each do |t| %>
          <div class="col-sm-4 col-lg-4">
          </div>
        <% end %>
      </div>
    <% end %> -->
</div>
