
<%= form_for [:admin, @project], html: { multipart: true } do |form| %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <%= form.text_area :text %>
  <%= form.file_field :photo %>
  <%= form.submit 'Сохранить', class: 'btn btn-default'%>
<% end %>
