<%= link_to 'Создать', new_admin_project_path, class: 'btn btn-default' %>

<table class="table">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Title</th>
      <th>Text</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <%= image_tag project.photo.url(:small) %>
        </td>
        <td>
          <%= project.title %>
        </td>
        <td>
          <%= project.text %>
        </td>
        <td>
          <%= link_to 'Редактировать', edit_admin_project_path(project), class: 'btn btn-default' %></td>
        </td>
        <td>
          <%= link_to 'Удалить', admin_project_path(project), class: 'btn btn-default',
          method: :delete,
          data: { confirm: 'Продолжить?' } %>
        </td>
    </tr>

    <% end %>
  </tbody>
