<%= link_to 'Создать', new_admin_sro_path, class: 'btn btn-default' %>

<table class="table">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Text</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sros.each do |sro| %>
      <tr>
        <td>
          <%= image_tag sro.photo.url(:small) %>
        </td>
        <td>
          <%= sro.text %>
        </td>
        <td>
          <%= link_to 'Редактировать', edit_admin_sro_path(sro), class: 'btn btn-default' %></td>
        </td>
        <td>
          <%= link_to 'Удалить', admin_sro_path(sro), class: 'btn btn-default',
          method: :delete,
          data: { confirm: 'Продолжить?' } %>
        </td>
    </tr>

    <% end %>
  </tbody>
