

<%= form_for [:admin, @sro], html: { multipart: true } do |form| %>
  <div class="form-group">
    <%= form.label :title %>
  </div>
  <%= form.text_area :text %>
  <%= form.file_field :photo %>
  <%= form.submit 'Создать', class: 'btn btn-default'%>
<% end %>
