.home
  .carousel-fade
    .carousel-inner
      .item
        transition-property: opacity
      .item
        opacity: 0
      .active.left
        opacity: 0
      .active.right
        opacity: 0
      .active
        opacity: 1
      .next.left
        opacity: 1
      .prev.right
        opacity: 1
      .next
        left: 0
        transform: translate3d(0, 0, 0)
      .prev
        left: 0
        transform: translate3d(0, 0, 0)
      .active.left
        left: 0
        transform: translate3d(0, 0, 0)
      .active.right
        left: 0
        transform: translate3d(0, 0, 0)
  min-height: 1000px
  .carousel
    .carousel-indicators
      .active
        background-color: #9f784c
      li
        height: 20px
        width: 20px
        border: 1px solid #9f784c
  //  .item
      transition-delay: 5s
      transition-duration: 0.6s
      transition-property: opacity
      transition-timing-function: ease-in-out
  @keyframes shadow
    0%
      padding-top: 100px
    100%
      padding-top: 0px
  .img-tab
    overflow-x: hidden
    overflow-y: hidden
    margin-top: 30px
    margin-bottom: 15px
    .anim1
      animation: shadow 1s 1
    .anim2
      animation: shadow 1s 1
      animation-delay: 0.3s
    .anim3
      animation: shadow 1s 1
      animation-delay: 0.6s
    .img-class-1
      transition: 1s
      transform: scale(1, 1)
      -webkit-filter: brightness(100%)
      &:hover
        -o-transform: scale(1.2, 0.5)
        -ms-transform: scale(1.2, 0.5)
        -moz-transform: scale(1.2, 0.5)
        -webkit-transform: scale(1.2, 0.5)
        transform: scale(1.3, 1.3)
        -webkit-filter: brightness(70%)
    .text-tab
      position: absolute
      top: 50%
      left: 50%
      min-width: 75%
      transform: translate(-50%, -50%)
      text-align: center
      font-size: 22px
      font-weight: 400
      text-transform: uppercase
      color: white
      font-family: 'Montserrat', sans-serif
      cursor: default
      opacity: 0.85
  .im1
    max-width: 830px
  .img-all
    padding-top: 15px
    padding: 5px 5px

  .img-test
    width: 830px
    height: 350px
    @media (max-width: $screen-xs-max)
      width: 280px
      height: 120px
  .about
    display: block
.p1
  margin-top: 50px
  margin-bottom: 50px
