.space
  margin-top: 20px
.img-circle
  border-radius: 10%
.center-text
  text-align: center

.grid
  position: relative
  margin: 0 auto
  padding: 1em 0 4em
  list-style: none
  text-align: center
.grid h2
  font-size: 20px


/* Common style */
.grid figure
  position: relative
  float: left
  overflow: hidden
  margin: 10px 1%
  min-width: 320px
  max-width: 480px
  max-height: 360px
  width: 48%
  background: #3085a3
  text-align: center
  cursor: pointer

.grid figure img
  position: relative
  display: block
  min-height: 100%
  max-width: 100%
  opacity: 0.8


.grid figure figcaption
  padding: 2em
  color: #fff
  text-transform: uppercase
  font-size: 1.25em
  -webkit-backface-visibility: hidden
  backface-visibility: hidden

.grid figure figcaption
  &:before
    pointer-events: none
.grid figure figcaption
  &:after
    pointer-events: none

.grid figure figcaption
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.grid figure figcaption > a
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a
  z-index: 1000
  text-indent: 200%
  white-space: nowrap
  font-size: 0
  opacity: 0

.grid figure h2
  word-spacing: -0.15em
  font-weight: 300

.grid figure h2
  span
    font-weight: 800

.grid figure h2
  margin: 0

.grid figure p
  margin: 0

.grid figure p
  letter-spacing: 1px
  font-size: 68.5%

figure.effect-roxy
  background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%)
  background: linear-gradient(45deg, #090909 0%,#083442 100%)


figure.effect-roxy img
  max-width: none
  width: -webkit-calc(100% + 60px)
  width: calc(100% + 60px)
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s
  transition: opacity 0.35s, transform 0.35s
  -webkit-transform: translate3d(-50px,0,0)
  transform: translate3d(-50px,0,0)


figure.effect-roxy figcaption
  &:before
    position: absolute
    top: 30px
    right: 30px
    bottom: 30px
    left: 30px
    border: 1px solid #fff
    content: ''
    opacity: 0
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s
    transition: opacity 0.35s, transform 0.35s
    -webkit-transform: translate3d(-20px,0,0)
    transform: translate3d(-20px,0,0)


figure.effect-roxy figcaption
  padding: 3em
  text-align: left


figure.effect-roxy h2
  padding: 5% 0 10px 0


figure.effect-roxy p
  opacity: 0
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s
  transition: opacity 0.35s, transform 0.35s
  -webkit-transform: translate3d(-10px,0,0)
  transform: translate3d(-10px,0,0)


figure.effect-roxy:hover img
  opacity: 0.1
  -webkit-transform: translate3d(0,0,0)
  transform: translate3d(0,0,0)


figure.effect-roxy:hover figcaption::before,
figure.effect-roxy:hover p
  opacity: 1
  -webkit-transform: translate3d(0,0,0)
  transform: translate3d(0,0,0)
