.image_style
  max-width: 100%
  display: block
  height: auto
.logo
  height: 100px
  width: auto
  transition: 0.3s

.logo-mini
  height: 50px
  width: auto
  transition: 0.3s

.logo-2
  width: 300px
.logo-3
    width: 250px
    @media (max-width: $screen-xs-max)
      width: 210px
h2
  font-size: 30px
.tel
  float: right
  position: absolute
  font-size: 15px
  left: 80%
  top: 10%
  a
    color: white
.model-house
  margin-top: 30px
