<footer class="footer navbar-bottom">
      <div class="container-fluid">
        <p class="text-muted">
          <br>191036, Санкт-Петербург, Невский пр., д.111/3,лит. А., пом.  61 Н
          <br>ИНН/КПП: 7841321703 / 784201001
          <br>тел/факс (812) 309-32-09
          <br>e-mail: mail@petrfarv.ru</p>
          <br>
      </div>
</footer>
