<div class="navbar-wrapper">

  <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">

      <div class="container">
        <div class="tel hidden-xs">
        <a href="tel:+78123093209">8(812)3093209</a>
        <br>
        <a href="mailto:mail@petrfarv.ru?subject=feedback">mail@petrfarv.ru</a></p>

        </div>
        <div class="row">
          <div class="col-sm-6">
            <a href="/home">
            <%= image_tag(image_path('logo.png'), alt: 'nordplan', class: 'logo hidden-xs') %>
            <%= image_tag(image_path('petr.png'), alt: 'nordplan', class: 'logo-2 hidden-xs') %></a>
          </div>
          <div class="col-sm-6">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="visible-xs navbar-brand" href="/home">
              <%= image_tag(image_path('petr.png'), alt: 'nordplan', class: 'logo-3') %></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
<!--            <li><%= active_link_to 'Главная', '/home'%></li> -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">О компании<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= active_link_to 'История создания', '/about'%></li>
                <li><%= active_link_to 'Вакансии', '/hh'%></li>
              </ul>
          <!--     <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Деятельность <span class="caret"></span></a>
           <ul class="dropdown-menu">
                <li><%= active_link_to 'Изыскания', '/geo'%></li>
                <li><%= active_link_to 'Строительство', '/building'%></li>
                <li><%= active_link_to 'Проектирование', '/projects'%></li>
              </ul> -->
          <!--      <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Направления <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Промышленность</a></li>
                  <li><a href="#">Производсто</a></li>
                  <li><a href="#">Энергетика</a></li>
                  <li><a href="#">Наука</a></li>
                  <li><a href="#">Транспорт</a></li>
                  <li><a href="#">Инфраструктура</a></li>
                </ul>  -->
                <li><%= active_link_to 'Выполненные работы', '/projects'%></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Подрядчикам<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= active_link_to 'Закупка материалов', '/supply'%></li>
                    <li><%= active_link_to 'Субподрядные работы', '/work'%></li>
                  </ul>
                </li>
                <li><%= active_link_to 'Контакты', '/contacts'%></li>
              </ul>
          </div>
        </div>
      </div>
      </div>

    </nav>
  </div>
</div>
