<%= form_for [:admin, @vocation], html: { multipart: true } do |form| %>

  <% if vocation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vocation.errors.count, "error") %> prohibited this vocation from being saved:</h2>

      <ul>
      <% vocation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
    <%= form.text_area :text %>
    <%= form.submit 'Создать' %>

  </div>
<% end %>
