<p id="notice"><%= notice %></p>

<h1>Вакансии</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vocations.each do |vocation| %>
      <tr>
        <td><%= vocation.title %></td>
        <td><%= link_to 'Показать', admin_vocation_path(vocation) %></td>
        <td><%= link_to 'Редактировать', edit_vocation_path(vocation) %></td>
        <td><%= link_to 'Удалить', vocation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая вакансия', new_admin_vocation_path %>
