<div class="item image_style">
<%= image_tag(image_path('carusel3.jpg'), alt: 'First slide', class: 'image_style') %>
</div>
<div class="container">
<h3><%=  @vocation.title  %></h3>
<p><%=  @vocation.text  %></p>
<h3>Телефон для связи</h3>
<a href="tel:+78123093209" class="tel">8 (812) 309 32 09</a>

<p>email: <a href="mailto:info@nord-plan.ru?subject=feedback">job@petrfarv.ru</a></p>
</p>
</div>
